<plominodatabase id="iol_praticaweb">
  <design>
    <resource id="config" title="" type="Script (Python)"><![CDATA[## Script (Python) "config"
##bind container=container
##bind context=context
##bind namespace=
##bind script=script
##bind subpath=traverse_subpath
##parameters=test=0
##title=
##
dz = dict(
 
versionenuova=1,                   
         
pagopa = False, #PagoPA Abilitato

provider='praticaweb',

doc_settings = "0-settings", #id del documento dove sono salvati i settings  
#ws servizio backoffice pratiche        
#wsUrl = "http://webservice.gisweb.it/wspraticaweb/andora.wsPraticaweb.php?wsdl",
wsUrl = "http://webservice.gisweb.it/wspraticaweb/demo.wsPraticaweb.php?wsdl",
  
#elenco dei comuni in combo    
elenco_comuni = ['Andora|A278','Cesio|C578','Chiusanico|C657','Stellanello|I947','Testico|L152'],
comune_default = "A278",

#indirizzi per il modello di stampa
comune_indirizzo_1 = "All'Unione dei Comuni Valmerula e Montarosio",
comune_indirizzo_2 = "Via Cavour, 94",
comune_indirizzo_3 = "17051 Andora (SV)",

#assegnazione automatica itruttore
#assegnazione_istruttore = 'giorgia.maggiani@comune.sp.it',
#assegnazione automatica rup
#assegnazione_rup = 'giorgia.maggiani@comune.sp.it', 


#flag se presente la sezione catastale
sezione_catasto = True,

#per limitare la combo sportello
#sportello = ['''Sportello Unico dell'Edilizia|sue'''],

#per avere autocoplete anche in castato urbano
#autocomplete_nceu = True,

#tipo di pratica senza pagamento diritti di segreteria come da tabella in documenti
#no_diritti_segreteria = ['cil','art21'],

#XSPEZIA
#volumetria_pagamenti = "<strong>Attenzione il volume dell'intervento determina gli importi dei diritti di segreteria</strong> nella seguente misura da 0 a 30: 51.65 fino a 100: 103.29 fino a 300: 154.94 fino a 500: 258.23 fino a 1000: 413.17 oltre 1000: 516.46",

#tipo di pratica con relazione descrittiva aggiuntiva
#relazione_descrittiva = ['cila','scia'],

#stampa della ricevuta di presentazione
ricevuta_presentazione = False,

#stampa attestazione di intervento ed opere in aree vincolate escluse dall'autorizzazione paesaggistica (RAPALLO)
#attestazione_intervento = True,

#calcola_pianificazione_x (elenco dei tipi con il calcolo delle zone pianificazione)
vincoli_particelle = ['cila','scia','scia2','pdc','lr25'],

#vincoli della form sub_intervento_paesaggistica/dichiarazione_intervento_opt, se non presente usa elenco default
vincoli_paesaggistica = [
    "D.M. 11.06.1954;|1",
    "D.M. 27.07.1962 - D.M. 24.04.1985;|2"
],

destinazione_uso = [
'Residenza (L.R. 16/2008 art.13,lett.a)|RESIDENZIALE',
'Turistico-ricettiva (L.R. 16/2008 art.13,lett.b)|TURISTICA',
'Produttiva e direzionale (L.R. 16/2008 art.13,lett.c)|PRODUTTIVA DIREZIONALE',
'Commerciale (L.R. 16/2008 art.13,lett.d)|COMMERCIALE',
'Rurale (L.R. 16/2008 art.13,lett.e)|RURALE',
'Autorimesse, rimessaggi, depositi e simili (L.R. 16/2008 art.13,lett.f)|PARK DEPOSITI',
'Servizi (L.R. 16/2008 art.13,lett.g)|SERVIZI',
'Distribuzione al dettaglio (L.R. 25/1995 art.7, lett.c) e uffici (L.R. 25/1995 art.7, lett.d)|COMMERCIALE  DIREZIONALE',
'Industria, artigianato, movim. e distrib. all''ingrosso di merci (L.R. 25/1995 art.7, lett.c,e)|INDUSTRIALE',
'Servizi di uso privato (L.R. 25/1995 art.7, lett.g)|SERVIZI PRIVATI',
'Turismo convenzionato (L.R. 25/1995 art.15bis)|TURISMO CONVENZIONATO',
'Servizi Turistici (L.R. 25/1995 art.15bis)|SERVIZI TURISTICI'
],


#elenco check in form di ricerca
tipo_ricerca = [
    'CIL|cil',
    'CILA|cila',
    'SCIA|scia',
    'SCIA2|scia2',
    'PDC|pdc',
    'Paes. ordinaria|paesaggistica-ordinaria',
    'Paes. accertamento|paesaggistica-accertamento',
    'Paes. semplificata|paesaggistica-semplificata', 
    'AUA|aua',
    'SCA|sca',
    'Art.22|art22',
    'Art.48|art48',
    'Inizio lavori|iniziolavori',
    'Fine lavori|finelavori',
    'Integrazione|integrazione',
    'AUT vincolo idrogeologico|idrogeologico-aut',
    'SCIA vincolo idrogeologico|idrogeologico-scia',
    'Denuncia Sismica Integrata|dsi',
    'Pratica importata|pe'
],

elenco_albo =[
    'Ordine degli Architetti|architetti',
    'Collegio dei Geometri|geometri',
    'Ordine degli Ingegneri|ingegneri',
    'Ordine degli Agronomi|agronomi',
    'Ordine dei Geologi|geologi',
    'Collegio dei Periti Industriali|periti_ind',
    'Altro Albo|altro'
],

#responsabile protezione dati
#rpd = "Avv.MARCO GIURI - via Cosseria, 28 - 50129 Firenze - mail: dpo@comune.sp.it - Pec: consolve@pec.it (http://www.comune.laspezia.it/Comune/PROTEZIONE_DATI/protezione_dati.html)",

#ws di protocollazione automatica
#wsprotocollo = "protocolla_documento",
wsprotocollo = "test-protocollo" #nome  della bw test-protocollo per prove

)

if test=='1':
    from Products.CMFPlomino.PlominoUtils import json_dumps
    return json_dumps(dz)
else:
    return dz
]]></resource>
  </design>
</plominodatabase>
