<plominodatabase id="iol_praticaweb">
  <design>
    <resource id="config" title="" type="Script (Python)"><![CDATA[## Script (Python) "config"
##bind container=container
##bind context=context
##bind namespace=
##bind script=script
##bind subpath=traverse_subpath
##parameters=test=0
##title=
##
dz = dict(

wsMailJ = "http://10.95.10.42/wsPECMail.asmx?WSDL",
 
versionenuova=1,                   
         
pagopa = True, #PagoPA Abilitato

pgreplica = True,

provider='praticaweb',

doc_settings = "0-settings", #id del documento dove sono salvati i settings  
#ws servizio backoffice pratiche        
wsUrl = "http://webservice.gisweb.sigmater/wspraticaweb/spezia.wsPraticaweb.php?wsdl",
   
#elenco dei comuni in combo    
elenco_comuni = ['La Spezia|E463'],
comune_default = "E463",

#indirizzi per il modello di stampa
comune_indirizzo_1 = "Comune Della Spezia",
comune_indirizzo_2 = "Piazza Europa n. 1",
comune_indirizzo_3 = "19124 - La Spezia",

#flag se presente la sezione catastale
sezione_catasto = False,
mappale_bloccato = True,


#assegnazione automatica itruttore
#assegnazione_istruttore = 'giorgia.maggiani@comune.sp.it',
#assegnazione automatica rup
#assegnazione_rup = 'giorgia.maggiani@comune.sp.it', 

#per limitare la combo sportello
#sportello = ['''Sportello Unico dell'Edilizia|sue'''],

#per avere autocoplete anche in castato urbano
#autocomplete_nceu = True,

#tipo di pratica senza pagamento diritti di segreteria come da tabella in documenti
no_diritti_segreteria = ['cil','art21'],

#se il bollo viene pagato con PagoPa
paga_bollo = 'PagoPa',

volumetria_pagamenti = "<h5><strong>Volumetria dell'intervento : indicare il volume dell'intervento soggetto a contributo di costruzione ,mettere 0  se non soggetto. I diritti di segreteria variano in base alla volumetria nella seguente misura:</strong></h5> da 0 a 30: 51.65 fino a 100: 103.29 fino a 300: 154.94 fino a 500: 258.23 fino a 1000: 413.17 oltre 1000: 516.46",

#tipo di pratica con relazione descrittiva aggiuntiva
#relazione_descrittiva = ['cila','scia'],

#stampa della ricevuta di presentazione
ricevuta_presentazione = True,

#stampa attestazione di intervento ed opere in aree vincolate escluse dall'autorizzazione paesaggistica (RAPALLO)
#attestazione_intervento = True,

#calcola_pianificazione_x (elenco dei tipi con il calcolo delle zone pianificazione)
vincoli_particelle = ['cila','scia','scia2','pdc','lr25'],

#vincoli della form sub_intervento_paesaggistica/dichiarazione_intervento_opt, se non presente usa elenco default
vincoli_paesaggistica = [
    "D.M. 03/08/1959 modificato dal D.M. 14/12/1974 n.vinc. Sopr.070588  (rid.vinc. zona costiera)|12",              
    "D.M. 02/04/1951 n.vinc. Sopr.070431 (piazzale sopr.aquedotto);|1",
    "D.M. 04/04/1951 n.vinc. Sopr.070432 (piazz. chiesa Marinasco);|2",
    "D.M. 09/04/1951 n.vinc. Sopr.070433 (zona zona tra via XXVII marzo e via xx settembre);|3",
    "D.M. 30/06/1955 n.vinc. Sopr.070434 (zona della foce);|4",
    "D.M. 12/08/1955 n.vinc. Sopr.070435 (zona della Fondega);|5",
    "D.M. 03/03/1966 n.vinc. Sopr.070437 (zona coll. in loc.Migliarina,cornice verde);|6",
    "D.M. 14/12/1974 n.vinc. Sopr.070588-070438 (rid.vinc. zona costiera-S Bartolomeo);|7",
    "D.M. 24/04/1985 n.vinc. Sopr.070424-070440 (int.vinc. zona costiera-Ameglia Monte Marcello);|8",
    "D.M. 29/04/49 PIAZZA CHIODO;|9",
    "D.M. 03/01/50 ZONA PANORAMICA CASTELLO DI SAN GIORGIO;|10",
    "D.M. 13/01/50 ZONA PANORAMICA TRA VIA DEI COLLI E VIA 27 MARZO;|10",
    "D.M. 29/04/50 GIARDINI PUBBLICI;|11"                         
],

destinazione_uso = [
'Residenza (L.R. 16/2008 art.13,lett.a)|RESIDENZIALE',
'Turistico-ricettiva (L.R. 16/2008 art.13,lett.b)|TURISTICA',
'Produttiva e direzionale (L.R. 16/2008 art.13,lett.c)|PRODUTTIVA DIREZIONALE',
'Commerciale (L.R. 16/2008 art.13,lett.d)|COMMERCIALE',
'Rurale (L.R. 16/2008 art.13,lett.e)|RURALE',
'Autorimesse, rimessaggi, depositi e simili (L.R. 16/2008 art.13,lett.f)|PARK DEPOSITI',
'Servizi (L.R. 16/2008 art.13,lett.g)|SERVIZI',
'Distribuzione al dettaglio (L.R. 25/1995 art.7, lett.c) e uffici (L.R. 25/1995 art.7, lett.d)|COMMERCIALE  DIREZIONALE',
'Industria, artigianato, movim. e distrib. all''ingrosso di merci (L.R. 25/1995 art.7, lett.c,e)|INDUSTRIALE',
'Servizi di uso privato (L.R. 25/1995 art.7, lett.g)|SERVIZI PRIVATI',
'Turismo convenzionato (L.R. 25/1995 art.15bis)|TURISMO CONVENZIONATO',
'Servizi Turistici (L.R. 25/1995 art.15bis)|SERVIZI TURISTICI'
],


#elenco check in form di ricerca
tipo_pratica = [
    'CIL|cil',
    'CILA|cila',
    'SCIA|scia',
    'SCIA2|scia2',
    'PDC|pdc',
    'Paes. ordinaria|paesaggistica-ordinaria',
    'Paes. accertamento|paesaggistica-accertamento',
    'Paes. semplificata|paesaggistica-semplificata', 
    'SCA|sca',
    'Art.22|art22',
    'Art.48|art48',
    'Inizio lavori|iniziolavori',
    'Fine lavori|finelavori',
    'Integrazione|integrazione',
    'AUT vincolo idrogeologico|idrogeologico-aut',
    'SCIA vincolo idrogeologico|idrogeologico-scia',
    'Denuncia Sismica Integrata|dsi',
    'Deposito tipi mappale|tipomappale',
],

elenco_albo =[
    'Ordine degli Architetti|architetti',
    'Collegio dei Geometri|geometri',
    'Ordine degli Ingegneri|ingegneri',
    'Ordine degli Agronomi|agronomi',
    'Ordine dei Geologi|geologi',
    'Collegio dei Periti Industriali|periti_ind',
    'Altro Albo|altro'
],

#responsabile protezione dati
rpd = "Avv.MARCO GIURI - via Cosseria, 28 - 50129 Firenze - mail: dpo@comune.sp.it - Pec: consolve@pec.it (http://www.comune.laspezia.it/Comune/PROTEZIONE_DATI/protezione_dati.html)",

#ws di protocollazione automatica
wsprotocollo = "protocolla_documento",
#wsprotocollo = "test-protocollo" #nome  della bw test-protocollo per prove

base_url="https://www.istanze.spezianet.it",

)

if test=='1':
    from Products.CMFPlomino.PlominoUtils import json_dumps
    return json_dumps(dz)
else:
    return dz

return dz
]]></resource>
  </design>
</plominodatabase>
